.App {
  text-align: center;
}

*{
    padding: 0;
    margin: 0;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    width: 350px;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
}
.search button{
    outline: none;
    border: none;
    height: 45px;
    width: auto;
    padding: 0 0.5rem;
    background-color: white;
}